
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-emerald-800 text-white font-black px-6 py-3 rounded-2xl shadow-xl hover:bg-emerald-900 transition-all uppercase tracking-widest text-xs;
  }
}
